/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.1.0
* Updated	 :	11/22/2022
*/
/*! WRITE YOUR CUSTOM STYLE **/

.is-transparent .header-main {
    position: fixed !important;
}

/* Кастомизация select2 */
.select-currency {
    border: 1px solid #dbe4f7;
    border-radius: 5px;
}

.select-currency .select2-selection .select2-selection__rendered {
    color: #fff;
    padding: 8px 5px;
}

.select-currency.select2 {
    width: 20% !important;
    min-width: 100px;
}

.select-currency .select2-selection .select2-selection__arrow:after {
    padding: 0;
    height: auto;
    padding: 10px;
}

.select-currency .select2-selection--single {
    height: auto;
}

/* Конвертер */
.converter {
    margin-top: -10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.converter__field-group {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.converter--swaped .converter__field-group:nth-child(2) {
    order: -1;
}

/* .converter__field-group:first-child {
    margin-top: 0;
} */

.converter__field {
    margin-left: 10px;
}

.converter__swap-button {
    color: #eef3fc;
    background: #f42f54;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    line-height: 21px;
    font-size: .9em;
    transition: all .4s;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(calc(-50% + 10px));
}

.converter__convert-button {
    margin-top: 16px;
    width: auto;
    margin-left: auto;
    margin-right: 12px;
}

/* Навигация */
.menu-btns__icon-btn {
    color: #fff;
}

.menu-btns__icon-btn path {
    fill: #fff;
}


/* Секция преимущества */
.benefits__list {
    display: flex;
    margin-left: -10px;
}

.benefits__item {
    background-color: #f42f54;
    padding: 20px 10px;
    border-radius: 15px;
    width: 100%;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 5px 20px 0px rgba(255, 255, 255, 0.1);
}

.benefits__item i {
    font-size: 2em;
    color: #fff;
}

.benefits__text {
    margin-top: 20px;
    color: #fff !important;
}

.partners {
    padding-bottom: 120px;
}

.first-screen {
    padding-top: 142px !important;
    min-height: 60vh;
}

.header-nav-toggle > ul {
    display: none;
}

.other-page-section {
    padding: 240px 0;
    position: relative;
    z-index: -1;
    min-height: 80vh;
}

@media (max-width: 1600px) {
    .header-menu {
        flex-direction: column;
        align-items: end;
    }
}

@media (max-width: 990px) {
    .header-nav-toggle {
        display: flex;
        align-items: center;
    }

    .header-nav-toggle > ul {
        display: flex;
        margin-right: 20px;
    }
}

@media (max-width: 450px) {
    .header-nav-toggle > ul {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}